<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/rcass/" target="_blank">@rcass</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/rcass/" target="_blank">@rcass</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/rosecass" target="_blank">linkedin.com/in/rosecass</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://rosecass.com/" target="_blank">rosecass.com</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:hireme@rosecass.com" target="_blank">hireme@rosecass.com</a></p>